{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "electron": "3.0.14" },
      "useBuiltIns": "usage",
      "debug": false,
      "corejs": 3
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "add-module-exports"
  ]
}
