{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      }
    }],
    "stage-0-without-async",
    "react"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
      ]
    }
  }
}
