{
  "presets": [
    ["env", {
      "targets": { "electron": "1.7.8" },
      "useBuiltIns": "usage",
      "debug": false
    }],
    "stage-0-without-async",
    "react"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
      ]
    }
  }
}
